#title{
  background-color: #ff4c68;
}
.container-fluid{
  padding: 3% 15%;
}
.iphone{
  width:200px;
  height: 500px;
}
h1{
  font-family:"Montserrat-Extra-Bold";
  color:white;
  font-weight:3 rem;
  line-height: 1.5
}
